@media only screen and (max-width: 575.98px){
    #form{
        width: 100%;
        height:100%;
    } 
    .full_name{
        flex-direction: column;
       
    } 
    .name .stu_name{
      margin-left: 49px;
      
    }

    input[type="date"]{
        width: 272px;
        margin-left: 14px;
      
    }

        .GenderandDegree {
            margin-left: 22px;
          }
          .label_name{
            font-size: 17px;
          }
          #street_address{
            display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap:
10px;

}
#city{
    display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap:10px;
}  
.country_select{
    
    width: 282px;
    margin-left:20px;
}
.Degree{
    display:flex;
    justify-content: center;
    align-items: center;
      width: 163px;
      margin-left: 181px;
}  
.student_image {
    margin-left: 178px;
    margin-top: 10px;
    width: 189px;
}
.DepartmentandExtra{
    display:flex;
    flex-direction: column;
    margin-left: 64px;
    width: 223px;
}
.emandph{
    display: flex;
  flex-direction: column;
  margin-left: 204px;
}
.emandph {
    display: flex;
    flex-direction: column;
    margin-left:7px;
  }
  .mg{
    margin-left:15px;
  }
  .student_name{
    margin-left:110px;
    width: 142px;
  }
  .Birth_date{
    margin-left:116px;
  }
  .address{
    margin-left:123px;
  }
  .country{
    margin-left:126px; 
  }
  #street_address input {
    width: 265px;
    }
    #city input {
      width: 265px;}
      .EmailandPhone {
        width: 217px;}
        
        .phone_input{
width:165px;
        }
      #department{
        width:200px;
      }
      .button_part{
        width: 320px;
      }  
      .GenderandDegree1 {
        display: flex;
        gap:
      0px;
        flex-direction: column;
        margin-left: -100px;
  
      }
      button[type="reset"]{
        padding-left: 60px;
      }
}